*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    display: flex;
    flex-direction: column;
    height: 100vw;
    max-height: 100%;
}

#accessibility{
    position: fixed;
    right: 2vw;
    bottom: 1vw;
    height: 160px;
    width: 2.35%;
}

#accessibility-relative{
    position: relative;
    height: 100%;
}

.itens_accessibility{
    background-color: gray;
    cursor: pointer;
    width: 100%;
    position: absolute;
}

.itens_accessibility img{
    width: 100%;
}

#hamburger{
    bottom: 0;
}

#move3{
    bottom: 100%;
}

#move2{
    bottom: 66.6%;
}

#move1{
    bottom: 33.3%;
}